.pignose-calendar {
  -webkit-box-shadow: none; 
   box-shadow: none;
  border: 0;
  width: 100%;
  max-width: 481px;

}
.pignose-calendar .pignose-calendar-top {
  -webkit-box-shadow: none; 
   box-shadow: none; 
  background: #fff;
}
.pignose-calendar .pignose-calendar-unit {
 
  height: 2.7em;
  
}
